@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
.ob{
    object-fit: cover;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}

.pre-loader{
    width: 100%;
    height: 100vh;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/2d869a145688797.62a27368d3d31.gif');
    background-size: contain;
    background-position: center;
}
.main-page{
    display: none;
}

body{
    margin: 0;
    font-family: Poppins;
}

svg{
    width: 30px;
}

.card{
    width: 20% !important;
    img{
        height: 200px;
        object-fit: contain;
    }
}
.listProduct{
    display: flex !important;
    flex-wrap: wrap;
    gap: 10px;
}

.item *:not(.minus,.plus){
    width: 10%;
    margin-left: 30px;

}

.top{
    width: 100%;
    display: flex;
}

.top-item{
    width: 15%;
}